body{
    font-family: 'Cerebri Sans',sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}

#navik{
    background-color: #00FF99 !important;
    margin-bottom: 25px !important;
}
.navbar-light .navbar-nav .nav-link 
{
    color: white !important;
    font-weight: 600 !important;
}
#user
{
    color: white !important;
}
#regi{
    color: black !important;
    align-self: center !important;
    font-weight: 400 !important;
}
#unlogged {
    width: 300px !important;
    height: 240px !important;
    border: 2px solid #00FF99;
    border-radius: 0%;
}
#logged
{
    width: 200px !important;
    border: 2px solid #00FF99;
    border-radius: 0%;
}
#log-but ,#unlog
{
    background-color: #00FF99 !important;
    border: 0px;
    color: white !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #00FF99;
  box-shadow: 0 1px 1px #00FF99 inset, 0 0 8px #00FF99;
  outline: 0 none;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #00FF99 !important;
    box-shadow: 0 1px 1px #00FF99 inset, 0 0 8px #00FF99 !important;
 }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0 !important;
}
table {
    border-width: 0px !important;
}
.radek
{
    background-color:#DDFFF1 !important;
}
.radek-clanky
{
    height: 44px !important;
}
.sprava-tab a{
    text-decoration: none !important;
}
.sprava-tab .btn{
    background-color: #00FF99 !important;
    border: 0px;
    color: white !important;
    padding-right: 6px !important;
    padding-left: 6px !important;
}
